/* Global styling */

html,
body {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  margin: 0;
  color: white;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.25rem 0;
}

@media only screen and (max-width: 470px) {
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.77rem;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header Section */

header {
  font-size: 1rem;
  background-color: black;
}

.company {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.company span {
  text-transform: uppercase;
  padding: 0.66rem 0;
}

.company img {
  padding-left: 0.5rem;
  padding-right: 1rem;
  height: 1.5rem;
}

.hero {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}

@media only screen and (max-width: 470px) {
  .hero {
    height: 15rem;
  }
}

.title-box {
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

@media only screen and (max-width: 470px) {
  .title-box {
    padding: 1rem 2rem;
  }
}

/* Main Nav */
nav {
  background-color: Firebrick;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 470px) {
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }
}

nav a {
  text-decoration: none;
  color: white;
}

/* Shop Section */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}

.col {
  width: 30%;
}

@media only screen and (max-width: 1024px) {
  .col{
    width: 47%;
  }

  .glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .col{
    width: 90%;
    margin: auto;
  }

  .watch {
    display: none;
  }
}

.col p {
  background-color: black;
  padding: 0.5rem 0;
  text-align: center;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-left: 4px solid black;
}

.product-image img {
  max-width: 8rem;
}

.products p {
  padding: 0.5rem 0;
}

/* Business Section */

.business-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

@media only screen and (max-width: 470px) {
  .business-info {
    flex-wrap: wrap;
  }
}

.business-box {
  width: 35%;
}

@media only screen and (max-width: 470px) {
  .business-box {
    width: 90%;
    margin: 0.5rem auto;
  }
}

.business-box p {
  display: block;
  padding: 1rem 2rem;
  background-color: black;
}

.business-box span {
  color: #777;
}

@media only screen and (max-width: 470px) {
  .business-box span {
    margin-top: : 0.5rem;
  }
}

/* Footer */
footer {
  background-color: black;
  margin-top: 4rem;
  padding: 5rem 0;
}

footer p {
  text-align: left;
}

@media only screen and (max-width: 470px) {
  footer p {
    text-align: center;
  }
}
